# Node.js
node_modules/

# Logs npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

# Docker
docker-compose.override.yml

# IDE and Redactors
.vscode/
.idea/
*.swp

# MacOS
.DS_Store

# Elastic Beanstalk cache
.elasticbeanstalk/*